{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block title %}
Profile Perusahaan
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/fitur2.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/fitur1.css' %}" />
{% endblock %}

{% block header %}
{% include "partials/header.html" %}
{% endblock %}

{% block content %}
<section style="height: auto;">
  <!-- Banner -->
  <section id="banner" style="background-image: url('https://picsum.photos/1900/1080?image=1078')">
    <div class="inner">
      <header>
        <h1>Company Dashboard</h1>
        <p id="companyName">Welcome "{{companyName}}"</p>
      </header>
      <a href="{% url 'forum:index' %}" class="button big" style="background-color: black">Lihat Forum</a>
      <a href="#" class="button big" style="background-color: black">Cari Mahasiswa</a>
    </div>
  </section>

  <!-- Section -->
  <section class="wrapper style1">
    <div class="inner">
      <!-- 2 Columns -->
      <h2>About Company</h3>
      <div class="flex flex-1">
        <div class="col col1">
          <p id="about">{{companyDescription}}</p>
        </div>
        <div class="col col2">
          <h5 id="companyType">Company Type: {{companyType}}</h5>
          <h5 id="companyWeb">Website: {{companyWeb}}</h5>
          <h5 id="companySpecialty"><b>Specialities: {{companySpecialty}}</h5>
        </div>
      </div>
      <a href="#" class="button">Learn More</a>
    </div>
  </section>

  <!-- Section job forum -->
  <section class="wrapper style1">
    <div class="inner">
      <header class="align-center" >
        <h1>Create Job Posting</h1>
        <p style="color: black">Tell the world your company vacancies.</p>
        <!-- Form for new status -->
        <form class="card-text" method="POST" action="{% url 'forum:add' %}">
          {% csrf_token %}
          <div style="width: 75%; text-align:center; margin: 0 auto">
          <textarea placeholder="Describe your job requirements" class="form-control" name="content" rows="5" id="content" style="width: 100%" title="content"></textarea>
          </div>
          <button type="submit" class="btn btn-primary" style="margin: 10px 0 25px 0" id="button"> Submit </button>
        </form>
      </header>
    </div>
  </section>
  {% endblock %}

  {% block javascript %}
  {% endblock %}
